# secrets / local config
.env
.env.*

# python
__pycache__/
*.pyc

# venv
env_automation/
venv/
.venv/

# logs
*.log
activity_logs.log

# screenshots (ignore everything inside)
screenshots/**

# optional OS/editor
.DS_Store
.vscode/

# lock files
*.lock

#images
*.bmp
*.png
*.jpg
*.jpeg

#backups
00_extras/**
# exclude extras
00_extras/


# Runtime / queue files (always changing)

reports_queue/reports_queue.json
stats/report_stats.txt
heartbeat/heartbeat_discoverer.json


# future-proof

reports_queue/*.json

stats/*.txt
heartbeat/*.json

config/credentials.json

