# secrets / local config
.env
.env.*

# python
__pycache__/
*.pyc

# venv
env_automation/
venv/
.venv/

# logs
*.log
activity_logs.log

# screenshots (ignore everything inside)
screenshots/**

# optional OS/editor
.DS_Store
.vscode/

# lock files
*.lock

#images
*.bmp
*.png
*.jpg
*.jpeg

#backups
00_extras/**
# exclude extras
00_extras/


# local runtime files
heartbeat/*.json

heartbeat/heartbeat_discoverer.json
